<tr class="{CSS_ROW}" id="xhfp_row_{ID}">
	<td class="std">
		<!-- BEGIN upDownBlock -->
		<a id="xhfp_up_{ID}" onclick="H5PContentsTable.up(event, {ID});" style="text-decoration: none;">
			<img src="{IMG_ARROW_UP}" style="width: 30px;">
		</a>
		<a id="xhfp_down_{ID}" onclick="H5PContentsTable.down(event, {ID});" style="text-decoration: none;">
			<img src="{IMG_ARROW_DOWN}" style="width: 30px;">
		</a>
		<!-- END upDownBlock -->
	</td>
	<td class="std">
		{TITLE}
	</td>
	<td class="std">
		{LIBRARY}
	</td>
	<td class="std">
		{RESULTS}
	</td>
	<td class="std">
		{ACTIONS}
	</td>
</tr>
