<tr class="{CSS_ROW}">
	<td class="std">
		<img alt="{LIBRARY}" src="{ICON}" style="height: auto; width: 60px;">
	</td>
	<td class="std">
		<a href="{DETAILS_LINK}">{LIBRARY}</a>
	</td>
	<td class="std">
		{STATUS}
	</td>
	<td class="std">
		{INSTALLED_VERSION}
	</td>
	<td class="std">
		{LATEST_VERSION}
	</td>
	<td class="std">
		{RUNNABLE}
	</td>
	<td class="std">
		{CONTENTS}
	</td>
	<td class="std">
		{USAGE_CONTENTS}
	</td>
	<td class="std">
		{USAGE_LIBRARIES}
	</td>
	<td class="std">
		{ACTIONS}
	</td>
</tr>
