<!-- BEGIN stylesBlock -->
<link href="{STYLE}" rel="stylesheet">
<!-- END stylesBlock -->

<script>
	  H5PIntegration.contents["cid-{H5P_CONTENT_ID}"] = {H5P_CONTENT};
</script>

<!-- BEGIN scriptsBlock -->
<script src="{SCRIPT}"></script>
<!-- END scriptsBlock -->

<br>
<h3 class="ilHeader">{H5P_TITLE}</h3>

<div class="h5p-iframe-wrapper">
	<iframe id="h5p-iframe-{H5P_CONTENT_ID}" class="h5p-iframe" data-content-id="{H5P_CONTENT_ID}" style="height: 1px;" src="about:blank" frameborder="0" scrolling="no"></iframe>
</div>
