<!-- BEGIN stylesBlock -->
<link href="{STYLE}" rel="stylesheet">
<!-- END stylesBlock -->

<script>
	var H5PIntegration = {H5P_EDITOR};
</script>

<!-- BEGIN scriptsBlock -->
<script src="{SCRIPT}"></script>
<!-- END scriptsBlock -->

<div id="xhfp_editor"></div>

<!-- BEGIN errorBlock -->
<div class="ilNoDisplay" id="xhfp_editor_error">
	<div class="help-block alert alert-danger" role="alert"><img border="0" src="{IMG_ALERT}" alt="{TXT_ALERT}" /> {TXT_ALERT}</div>
</div>
<!-- END errorBlock -->

<!-- BEGIN tutorialBlock -->
{TUTORIAL}
<!-- END tutorialBlock -->
